<a href="https://colab.research.google.com/github/manisha7-ma/Pandas/blob/main/14_Read_Write_Data_From_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read database records into pandas dataframe and write it back    

Topics To Read:
1.   pd.read_sql_table
2.   pd.read_sql_query
3.   df.to_sql
4.   pd.read_sql(which is just a wrapper for first two methods)

In [3]:
#Reading a sql file
import pandas as pd
import sqlalchemy
'''
✅ Use sqlite3 if you're doing simple or temporary tasks.
✅ Use SQLAlchemy if you're building a project that might grow, or may change DB engines later.
'''

"\n✅ Use sqlite3 if you're doing simple or temporary tasks.\n✅ Use SQLAlchemy if you're building a project that might grow, or may change DB engines later.\n"

In [4]:
import sqlite3

In [24]:
import pandas as pd
from sqlalchemy import create_engine, text

# 1. Create engine
engine = create_engine('sqlite:///:memory:')

# 2. Read and execute the SQL script in a single session
sql_file_path = '/content/sample_data/Customer.sql'
with open(sql_file_path, 'r') as file:
    sql_script = file.read()

with engine.connect() as conn:
    for stmt in sql_script.split(';'):
        stmt = stmt.strip()
        if stmt:
            conn.execute(text(stmt))

    # ✅ 3. Read the data directly using the same connection
    df = pd.read_sql("SELECT * FROM Customer", conn)


#Reading the Orders Table
# 2. Read and execute the SQL script in a single session
sql_file_path = '/content/sample_data/Orders.sql'
with open(sql_file_path, 'r') as file:
    sql_script = file.read()

with engine.connect() as conn:
    for stmt in sql_script.split(';'):
        stmt = stmt.strip()
        if stmt:
            conn.execute(text(stmt))

    # ✅ 3. Read the data directly using the same connection
    df2 = pd.read_sql("SELECT * FROM Orders", conn,columns=['name'])
print(df)
print(df2)
query='''
select Customer.name,Customer.phone_number,
Orders.name,Orders.amount
from Customer inner join Orders on Customer.id=Orders.customer_id;
'''
df3=pd.read_sql(query,conn)
print(df3)

   id     name phone_number
0   1    Alice   1234567890
1   2      Bob   9876543210
2   3  Charlie   5555555555
   id    name   amount  customer_id
0   1  Laptop  1200.50            1
1   2   Phone   799.99            2
2   3  Tablet   350.00            1

ResourceClosedError: This Connection is closed

In [23]:
#Joining the 2 dataframes
query='''
select Customer.name,Customer.phone_number,
Orders.name,Orders.amount
from Customer inner join Orders on Customer.id=Orders.customer_id;
'''
df3=pd.read_sql(query,conn)
print(df3)

ResourceClosedError: This Connection is closed